.row
  .col.l6.half-screen.no-padding style="background:url(#{image_url("networking_2.jpg")}) center center no-repeat"
  .col.l6.half-screen
    .container.form-section
      a href == root_url
        = image_tag 'icon.png'
      h3 Sign up

      = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = f.error_notification

        .form-inputs
          = f.input :email,
                      required: true,
                      autofocus: true ,
                      input_html: { autocomplete: "email" }

          = f.input :password,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" }

          = f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password" }

        .form-actions
          input type="submit" value="Sign up" class="button waves-effect waves-light btn"


        /= link_to 'Register with Linkedin', '/auth/linkedin' 
