.contact-container
  .avatar-container
    = image_tag 'icon_alt.png'
  .info-container
    - aux_member = @channel.members.select { |member| member[:id] != @member.id }[0]
    .name = @channel.name || aux_member.first_name || aux_member.username
    - if @channel.members.size > 2
      .members = @channel.members.map {|member| "#{member.first_name || member.username}"}.join(', ')
