= link_to channel_path(channel.event.uid , channel.id), class: "contact-container", method: :get, remote: true
  .avatar-container
    - aux_member = channel.members.select { |member| member[:id] != @member.id }[0]
    - if channel.members.count > 2
      = image_tag 'icon_alt.png'
    - else
      = image_tag aux_member.avatar
  .contact-main.channel data-channel="#{channel.id}"
    .contact
      .name = channel.name || aux_member.first_name || aux_member.username
      .last-msg
        - last_msg = channel.messages.last
        - unless last_msg.blank?
          = "#{last_msg.member == @member ? 'me' : last_msg.member.first_name || last_msg.member.username}: #{last_msg.body}"

    .date-container
      .date = last_msg.time unless channel.messages.blank?
      //.count 1
