#members_modal.modal.bottom-sheet
  .modal-content.container
    h4 Miembros
    .collection
      - unless @event.members.blank?
        - @event.members.each do |member|
          - unless member.user_id == current_user.id
            = link_to create_channel_path(@event.uid, member.id), class: "collection-item avatar", method: "post"
              = image_tag member.user.avatar.url, class: 'circle'
              .title = "#{member.first_name} #{member.last_name}"
              p = member.email
              span class="#{member.role}" = member.role

  .modal-footer
    a class="modal-close waves-effect waves-green btn-flat" Ok
