- @channel.messages.each do |message|
  div class="msg #{message.member == @member ? 'me' : 'you'}"
    - unless message.member == @member
      div class="writter type-#{message.member.id % 5}" = message.member.user.first_name || message.member.user.username
    .content
      = message.body
      span = message.created_at.strftime("%H:%M")
