= form_with model: @message, class: 'send_box' do |f|
  = f.text_field :body, placeholder: "Write a message here", id: "msg-body", required: true, autocomplete: 'off'

  = hidden_field :message, :channel_id
  = hidden_field :message, :member_id

  = f.button :button, type: :submit, class: 'send'
    i.material-icons send
