$('#chatter-box').html('<%= render j "messages" %>').attr('data-channel', '<%= @channel.id %>');
$('#channel_info').html('<%= render j "channel_info" %>');
$('#send_box').html('<%= render j "send_box" %>');

$('.chatter-box').addClass('active')
$('.chatter-box').scrollTop($('.chatter-box')[0].scrollHeight);
$('#msg-body').focus();

$('.contact-main.channel').parent().removeClass('active');
$('.contact-main.channel[data-channel="<%= @channel.id %>"]').parent().addClass('active');
$('.contact-main.channel[data-channel="<%= @channel.id %>"] .count ').remove();
