.room style="background:url('#{image_url("networking_2.jpg")}') repeat center center;"
  .chatter-container.container
    .options.row
      #member_info.profile data-member="#{current_user.id}"
        .contact-container
          .avatar-container
            = image_tag 'icon_alt.png'
          /.dropdown
          /  a href="#"
          /    i.material-icons more_vert
      #channel_info.contact
    .chatter-main
      .contacts
        .search_box-container
          .search_box
            i.material-icons search
            input.validate type="text" placeholder="Search"
        .scrolleable
          - @member.channels.each do |channel|
            = render partial: 'channels', locals: {channel: channel}
          a.contact-container.new.modal-trigger href="#members_modal"
            span Crea una nueva conversación
            button.btn-floating.waves-effect.waves-light
              i.material-icons add
      .chatter
        .chatter-box
          .starter
          #chatter-box data-channel=""
          .starter
        .message-form#send_box

= render partial: 'members'
