main.container.home
  .hero.container
    h1 Simplifique la creación de redes con una aplicación de eventos en red.
    h3 Dale a tus asistentes las mejores conexiones posibles.

    = simple_form_for(@event, method: :post, url: home_new_path) do |f|
      .row style="display:flex;"
        .col.s6 style="margin:auto;"
          = f.input :date, input_html: {class: "datepicker"}, label: 'Dia'
          = f.input :time, input_html: {class: "timepicker"}, label: 'Hora'
          = f.button :submit, style: 'left: 50%;transform: translate(-50%);', value: 'Crear Evento'

= render 'shared/footer'
