.row
  .col.l6.half-screen.no-padding style="background:url(#{image_url("networking_2.jpg")}) center center no-repeat"
  .col.l6.half-screen
    .container.form-section
      a href == root_url
        = image_tag 'icon.png'

      h3 Forgot your password?

      = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
        = f.error_notification

        .form-inputs
          = f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" }

        .form-actions
          input type="submit" value="Send me reset password instructions" class="button waves-effect waves-light btn"
