footer.page-footer
  .container
    .row
      .col.l6.s12
        h5 Meet
        = image_tag 'utn_logo.png'
        /p.grey-text.text-lighten-4 You can use rows and columns here to organize your footer content.
      .col.l4.offset-l2.s12
        h5 Info
        ul
          li
            a href="https://www.linkedin.com/in/gonzalograssi/" Gonzalo Grassi
          li
            a href="http://www1.frm.utn.edu.ar/tsprogramacion/index.html" TSP
          li
            a href="https://rubyonrails.org/" RoR
  .footer-copyright
    .container
      .row
        .col.l6.s12 © 2018 UTN-FRM
        .col.l4.offset-l2.s12 TSP
