header
  nav
    .nav-wrapper.container
      a.brand-logo href==root_url style="outline:none"
        = image_tag 'logo.png', class: 'logo'

      a.sidenav-trigger href="#" data-target="mobile-demo"
        i.material-icons menu

      ul.right.hide-on-med-and-down
        - if current_user
          li
            a.dropdown-trigger href="#!" data-target="dropdown1"
              = current_user.username
              i.material-icons.right arrow_drop_down
        - else
          li
            = link_to "Crear Usuario", new_user_registration_path
          li
            = link_to "Iniciar Sesion", new_user_session_path

      ul#dropdown1.dropdown-content
        li
          = link_to "Mis Eventos", events_path
        li
          = link_to "Editar Perfil", user_path
        li
          = link_to "Cambiar Contraseña", edit_user_registration_path
        li.divider
        li
          = link_to "Cerrar Sesion", destroy_user_session_path, method: :delete

  ul#mobile-demo.sidenav
    - if current_user
      li
        = link_to "Mis Eventos", events_path
      li
        = link_to "Editar Perfil", edit_user_registration_path
      li.divider
      li
        = link_to "Cerrar Sesion", destroy_user_session_path, method: :delete
    - else
      li
        = link_to "Inicio", root_url
      li.divider
      li
        = link_to "Iniciar Sesion", new_user_session_path
      li.divider
      li
        = link_to "Registrarme", new_user_registration_path
