.container.form-section
  = simple_form_for(@event) do |f|
    = f.error_notification
    = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

    .form-inputs
      = f.input :date, required: true, input_html: {class: "datepicker"}

      = f.input :time, required: true, input_html: {class: "timepicker"}

      = f.input :name

      = f.input :description

      = f.input :image, as: :file

    .form-actions
      = f.button :submit
