.container
  title.container
    h3 Events

  .row.card-container
    - @events.each do |event|
      .col.s12.m6.l4
        .card
          .card-image style="background:url('#{event.image.url(:medium)}') no-repeat center center;"
            = image_tag event.image.url(:medium)

            .btn-floating.halfway-fab
              - if event.owner.id == current_user.id
                = link_to event, class: "btn-floating waves-effect waves-light modal-trigger", method: :delete, data: {confirm: "Estas seguro de eliminar el evento?"} 
                  i.material-icons delete

              - if event.owner.id == current_user.id
                = link_to members_path(event.id), class: "btn-floating waves-effect waves-light modal-trigger", method: :post, remote: true
                  i.material-icons people

              - if event.owner.id == current_user.id
                a.btn-floating.waves-effect.waves-light href == edit_event_path(event)
                  i.material-icons edit

              a.btn-floating.waves-effect.waves-light href == room_url(event.uid)
                i.material-icons arrow_forward
          .card-content
            .card-date
              .date-month
                = event.created_at.strftime('%b.').upcase
              .date-day
                = event.created_at.strftime('%d').upcase
            .card-title
              span = event.name
              p = event.description

    .col.s12.m4
      a.btn-floating.btn-large.waves-effect.waves-light href == new_event_path
        i.material-icons add

#members_modal.modal.bottom-sheet
  .modal-content

  .modal-footer
    a href="#!" class="modal-close waves-effect waves-green btn-flat" Ok
