.room style="background:url('#{image_url("networking_2.jpg")}') repeat center center;"
  .chatter-container.container
    .options.row
      .profile
        .contact-container
          .avatar-container
            = image_tag 'icon_alt.png'
          .dropdown
            a href="#"
              i.material-icons more_vert
      .contact
        .contact-container
          .avatar-container
            = image_tag 'icon_alt.png'
          .info-container
            .name General
            .members Amigo Imaginario, Edu, Tú
    .chatter-main
      .contacts
        .search_box-container
          .search_box
            i.material-icons search
            input.validate type="text" placeholder="Search"
        .scrolleable
          - 10.times do
            .contact-container
              .avatar-container
                = image_tag 'icon_alt.png'
              .contact-main
                .contact
                  .name Gonzalo Grassi
                  .last-msg Gon: Hola!
                .date-container
                  .date 15:22
      .chatter
        .chatter-box
          .starter
          .msg.you
            .writter Amigo Imaginario
            .content
              | Hola!
              span 12:43
          .msg.you
            | Como estas?
            span 12:44
          .msg.me
            | Hola, todo bien
            span 12:50
          .msg.you
            .writter Edu
            | Pana, ya tengo ganas de perder en el metegol otra vez.
            span 12:57
        .message-form
          .send_box
            input.validate type="text" placeholder="Write a message here"
            .send
             i.material-icons send
