.row
  .col.l6.half-screen.no-padding style="background:url(#{image_url("networking_2.jpg")}) center center no-repeat"
  .col.l6.half-screen
    .container.form-section
      a href == root_url
        = image_tag 'icon.png'
      h3 Log in

      = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .form-inputs
          = f.input :email,
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "email" }

          = f.input :password,
                      required: false,
                      input_html: { autocomplete: "current-password" }

          = f.input :remember_me, as: :boolean if devise_mapping.rememberable?


        = render "devise/shared/links"

        .form-actions
          input type="submit" value="Log In" class="button waves-effect waves-light btn"
