.container
  .container
    h3 Completa tu información personal

    = simple_form_for @user, html: { method: :put }, :format => :html do |f|
      = f.error_notification

      .form-inputs
        /= f.input :email, required: true, autofocus: true
        = f.input :first_name, required: true
        = f.input :last_name, required: true
        = f.input :linkedin_url
        = f.input :who_am_i

        span Employment
        = f.input :company_name
        = f.input :position

        span Education
        = f.input :degree
        = f.input :level
        = f.input :institution

        /add_attachment :users, :avatar


      .form-actions
        = f.button :submit
