#layout {
  color: #333;

  a {
    color: $brand-color;
  }

  h1, h2, h3, h4, h5 {
    color: $brand-color;
  }

  ul.dropdown-content li > a{
    color: $brand-color;
  }

  .waves-button-input, .waves-light.btn {
    color: white;
  }

  .half-screen{
    height: 100vw;
    max-height: 100vh;
    display: flex;
    align-items: center;
  }

  .row {
    margin-bottom: 0;
  }

  .no-padding {
    padding: none;
  }

  .form-section {
    display: flex;
    flex-direction: column;

    a {
      margin: auto;
    }

    form.simple_form {
      display: flex;
      flex-direction: column;
    }
  }

  .form-actions {
    padding: 30px 0;
    display: flex;

    .button {
      margin: auto;
    }
  }
}
