// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card-container {
  padding-top: 30px;
  .card {
    position: relative;
    box-shadow: none;

    .card-image {
      width: 100%;
      background-size: cover;
      border-radius: 5px;

      &:before {
        content: '';
        display: block;
        padding-top: 100%;
      }

      img {
        display: none;
      }
    }

    .btn-floating.halfway-fab {
      width: auto;
      border-radius: 0;
      background: none;
      box-shadow: none;
      overflow: visible;

      .btn-floating {
        margin: 0 7.5px;
      }
    }

    .card-content {
      display: flex;

      .card-date {
        text-align: center;

        .date-month {
          color: $brand-color;
        }

        .date-day {
          font-size: 1.6rem;
        }
      }

      .card-title {
        padding-left: 15px;
        font-size: 1.6rem;

        p {
          font-size: 1.2rem;
          color: $brand-color-grey;
        }
      }
    }

  }
}

.room {
  height: calc(100vh - 65px);
  display: flex;

  input::placeholder {
    color: #a4a4a4;
  }

  .name {
    color: black;
    font-size: 1.2rem;
  }

  .members{
    font-size: 0.9rem;
  }

  .chatter-container {
    height: calc(100vh - (30px + 65px + 30px));
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);

    .options {
      width: 100%;
      height: 10%;
      min-height: 72px;
      display: flex;
      background-color: #eeeeee;
      border: #dbdbdb 1px solid;


      .profile {
        width: 30%;
        border-right: #dbdbdb 1px solid;
      }

      .contact {
        .info-container {
          padding: 10px;
        }
      }

      .dropdown {
        margin: auto;
        margin-right: 0;
        padding-right: 15px;

        a i{
          color: $brand-color-grey;
        }
      }
    }

    .chatter-main {
      width: 100%;
      height: 90%;
      max-height: calc(100% - 72px);
      display: flex;

      .contacts {
        width: 30%;
        background-color: white;
        border-right: #dbdbdb 1px solid;
        display: flex;
        flex-direction: column;
      }

      .scrolleable {
        overflow-y: scroll;
        height: 100%;
      }

      .contact-container {
        outline: none;

        &:hover {
          background-color: #f4f5f5;
          cursor: pointer;
        }

        &.active {
          background-color: #e9ebeb;
        }
      }
    }

    .search_box-container {
      height: 49px;
      display: flex;
      border-bottom: #dbdbdb 1px solid;
      background-color: #fbfbfb;

      .search_box {
        margin: auto 15px;
        display: flex;
        height: 34px;
        width: 100%;
        border-radius: 3px;
        border: #dbdbdb 1px solid;

        input {
          height: 100%;
          border: none;
        }

        i {
          margin: auto;
          padding: 0 15px;
          color: #a4a4a4;
        }
      }
    }

    .contact-container {
      display: flex;
      height: 72px;

      &.new {
        padding: 7.5px;
        flex-direction: column;
        align-items: center;
        height: auto;

        button {
          margin-top: 7.5px;
        }
      }

      .avatar-container {
        width: 72px;
        display: flex;
        img {
          margin: auto;
          width: 49px;
          height: 49px;
          border-radius: 50%;
        }
      }

      .contact-main {
        width: calc(100% - 72px);
        border-bottom: #dbdbdb 1px solid;
        padding: 15px;
        display: flex;

        .contact {
          width: calc(100% - 31px);

          .last-msg {
            font-size: 0.9rem;
            max-height: 1.3rem;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
        .date-container {
          width: 31px;
          .date {
            font-size: 0.8rem;
          }
          .count {
            float: right;
            font-size: 0.8rem;
            background-color: $brand-color;
            color: white;
            padding: 0rem 5px;
            border-radius: 15px;
            margin-top: 5px;
          }
        }
      }
    }

    .chatter {
      width: 70%;
      background-color: white;

      .chatter-box {
        height: 100%;
        max-height: calc(100% - 62px);
        padding: 0 9%;

        &.active {
          background-color: #f9f9f9;
          overflow-y: scroll;
        }

        .starter {
          width: 100%;
          height: 7px;
        }

        #chatter-box{
          display: flex;
          flex-direction: column;
        }

        .msg {
          min-height: 35px;
          max-width: 60%;
          padding: 7.5px;
          margin-bottom: 2px;
          position: relative;
          display: inline-table;
          border: 1px solid #e9e9e9;
          border-radius: 7.5px;

          span {
            margin-left: 45px;
            position: relative;
            float: right;
            bottom: -10px;
            font-size: 0.7rem;
          }

          //#fd85d4

          .writter {
            font-weight: bold;
            color: #12a211;
            &.type-1 {
              color: #12a211;
            }
            &.type-2 {
              color: #fd85d4;
            }
            &.type-3 {
              color: #dfb610;
            }
            &.type-4 {
              color: #ffa97a;
            }
            &.type-5 {
              color: #8393ca;
            }
          }

          &:before {
            content: '';
            position: absolute;
            top: 0px;
            width: 12px;
            height: 19px;
          }

          &.you {
            background-color: #fff;
            border-top-left-radius: 0;

            &:before {
              left: -11px;
              background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAmCAMAAADp2asXAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAACQUExURUxpccPDw9ra2m9vbwAAAAAAADExMf///wAAABoaGk9PT7q6uqurqwsLCycnJz4+PtDQ0JycnIyMjPf3915eXvz8/E9PT/39/RMTE4CAgAAAAJqamv////////r6+u/v7yUlJeXl5f///5ycnOXl5XNzc/Hx8f///xUVFf///+zs7P///+bm5gAAAM7Ozv///2fVensAAAAvdFJOUwCow1cBCCnqAhNAnY0WIDW2f2/hSeo99g1lBYT87vDXG8/6d8oL4sgM5szrkgl660OiZwAAAHRJREFUKM/ty7cSggAABNFVUQFzwizmjPz/39k4YuFWtm55bw7eHR6ny63+alnswT3/rIDzUSC7CrAziPYCJCsB+gbVkgDtVIDh+DsE9OTBpCtAbSBAZSEQNgWIygJ0RgJMDWYNAdYbAeKtAHODlkHIv997AkLqIVOXVU84AAAAAElFTkSuQmCC);
              background-position: 50% 50%;
              background-repeat: no-repeat;
              background-size: contain;
            }
          }

          &.me {
            margin-left: auto;
            background-color: #dcf8c6;
            border-top-right-radius: 0;

            .writter {
              display: none;
            }

            &:before {
              right: -11px;
              background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAmCAMAAADp2asXAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAADAUExURUxpcXmHa4maet/4yA0aDRMTE8fhsgAAAAAAAMDXrCsxJeX/z1xzXIiYetPsvGBsVUdPPuH8zOH8zNDrvMvmtrrOpwAAAAAAABUVFRoaGtnyxLTMozQ+MMfftFBeSR8nH5aoh6q/mW9+ZN/4yMjhtRwlHAAAAIOWd+r/06C1kkNLOwsLC9z4xur/0+n/0t76x9v4xeL9y+b/z+j/0d/7yeH8yuX/zeD8ytz5xt76yOP/zeH+y+b/zuD8yd35xuf/0MY9jkkAAAAsdFJOUwBvd/ATDZIBAsMp/At/11c9yPbizHoICQwT4bY1ykkgjahl6s8bBYT6nUAWOLbtFAAAAIhJREFUKM/tzbUWwlAURNFBE9zdg0NecLf//yvKUJyUdDnl7HXXletXqmXl9wPbQ9JCcC+VJsOj2mDwovzj3osjHGNFEVxNRAj7UR1hlx+I4FbuC8HkZBE8OwnRxamdFsEmUxCCGdoI51RLBK9xVwTvjyMEbzlDMJMp7lqseNc8YNc6CGyF/a0vcmwhZbCG+kEAAAAASUVORK5CYII=);
              background-position: 50% 50%;
              background-repeat: no-repeat;
              background-size: contain;
            }
          }
        }
      }

      .message-form {
        height: 62px;
        display: flex;

        .send_box {
          display: flex;
          width: 100%;
          background-color: #eeeeee;

          input {
            height: 40px;
            margin: auto 15px;
            padding: 0 15px;
            border: #dbdbdb 1px solid;
            border-radius: 20px;
            background-color: white;
          }

          .send {
            margin: auto;
            padding-right: 15px;
            cursor: pointer;
            border: none;
            background-color: transparent;
            outline: none;
          }
        }
      }
    }
  }
}

.collection {
  .collection-item {
    span {
      padding: 2px 5px;
      text-transform: uppercase;
      font-size: 0.9rem;
      color: white;
      font-weight: bold;
      border-radius: 5px;

      &.owner {
        @extend .orange, .darken-1;
      }
      &.member {
        @extend .green, .darken-1;
      }
      &.admin {
        @extend .red, .darken-4;
      }
    }
  }
}
