header {
  nav {
    background-color: white;
    box-shadow: none;
    border-bottom: 1px solid #E3E3E3;

    a {
      color: $brand-color;
    }

    .logo {
      max-height: 64px;
      padding: 8px 0;
    }

  }
}
