h1 {
  color: $brand-color;
  text-align: center;
  font-size: 3.5rem;
}

h3 {
  color: $brand-color-grey;
  text-align: center;
  font-size: 2.3rem;
}

.hero {
  padding: 60px 0;
}

.home {
  min-height: calc(100vh - 241px - 64px);
}
