doctype html
html
  head
    title Meet
    = csrf_meta_tags

    link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png"
    link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png"
    link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png"
    link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png"
    link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png"
    link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png"
    link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png"
    link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png"
    link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png"
    link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png"
    link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png"
    link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png"
    link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png"
    link rel="manifest" href="/manifest.json"
    meta name="msapplication-TileColor" content="#ffffff"
    meta name="msapplication-TileImage" content="/ms-icon-144x144.png"
    meta name="theme-color" content="#ffffff"

    = action_cable_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = custom_bootstrap_flash

  body#layout
    = render 'shared/alerts'
    = render 'shared/header' unless params[:controller] == 'devise/sessions' || (params[:controller] == 'devise/registrations' && params[:action] == 'new') || (params[:controller] == 'devise/passwords' && params[:action] == 'new')
    = yield


    javascript:
      document.addEventListener('turbolinks:load', function() {
        $(".dropdown-trigger").dropdown();
      });

      document.addEventListener('turbolinks:load', function() {
       $('.datepicker').datepicker();
      });

      document.addEventListener('turbolinks:load', function() {
       $('.timepicker').timepicker();
      });

      document.addEventListener('turbolinks:load', function() {
        $('.sidenav').sidenav();
      });

      document.addEventListener('turbolinks:load', function() {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems, {});
      });
