h4 Miembros
.share
  .input-field
    span Compartir mediante enlace
    input value == room_url(@event.uid) id="url" readonly="readonly" type="text"
  .collection
    - unless @members.blank?
      - @members.each do |member|
        .collection-item.avatar
          = image_tag member.avatar.url, class: 'circle'
          .title = "#{member.first_name} #{member.last_name}"
          p = member.email
          span class="#{member.role}" = member.role
          a.secondary-content href="#!"
            .material-icons clear
